<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styles.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class = "body">
<div class = "buttonsDiv">
    <form action="/" method="get" style = "margin-left: 225px">
        <button class = "pagesButtons" type="submit">
            Main Page
        </button>
    </form>
    <form action="/announcements" method="get">
        <button class = "pagesButtons" type="submit">
            All announcements
        </button>
    </form>
    <form action="/CreateNew" method="get">
        <button class = "pagesButtons" type="submit">
            Create New
        </button>
    </form>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropButton">Profile</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="/Profile">Profile</a>
            <a href="/MyAnnouncements">My Announcements</a>
            <a href="/Statistics">Statistics</a>
        </div>
    </div>
</div>
<h1 class="header1">
    Here you create new announcement!
</h1>
<div style = "text-align: center">
    <form action="/createdNew">
        <label for="title" style="font-size: 20px; font-weight: bold;">Announcement Title</label><br><br>
        <input class = "NewAnnouncementTitle" type="text" id="title" name="title" maxlength="25"><br><br>
        <label for="announcementText" style="font-size: 20px; font-weight: bold;">Announcement Text</label><br><br>
        <textarea class = "NewAnnouncementText" type="text" id="announcementText" name="announcementText"></textarea><br><br></br>
        <input type="submit" value="Submit">
    </form>
</div>

<script src="/CreateNew.js"></script>
</body>
</html>