<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/styles.min.css}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <h1>Login</h1>
        <div id="notification" class="notification"  th:if="${message}" style="display: none;">
        <p id="notification-text" th:text="${message}"></p>
        </div>
        <form id="loginForm" action="/login" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="input-group">
                <label for="login">Login</label>
                <input type="text" id="login" name="login" placeholder="Enter your login" autocomplete="login" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn" id="submitButton">Login</button>
        </form>
        <p class="register-link">Don't have an account? <a th:href="@{/RegisterPage}">Register</a></p>
    </div>
</div>
<div>
    <script th:src="@{/js/Login.js}">
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = true;
            submitButton.textContent = 'Submitting...';

            setTimeout(() => {
                submitButton.disabled = false;
                submitButton.textContent = 'Login';
            }, 3000); // Simulating request delay

            event.preventDefault();
        });
    </script>
</div>
</body>
</html>