<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styles.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class = "body">
<div class = "buttonsDiv">
    <form action="/" method="get" style = "margin-left: 225px">
        <button class = "pagesButtons" type="submit">
            Main Page
        </button>
    </form>
    <form action="/announcements" method="get">
        <button class = "pagesButtons" type="submit">
            All announcements
        </button>
    </form>
    <form action="/CreateNew" method="get">
        <button class = "pagesButtons" type="submit">
            Create New
        </button>
    </form>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropButton">Profile</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="/Profile">Profile</a>
            <a href="/MyAnnouncements">My Announcements</a>
            <a href="/Statistics">Statistics</a>
        </div>
    </div>
</div>
<div>
    <h1 class = "header1">
        My announcements will be shown here
    </h1>
</div>

<script src="/MyAnnouncements.js"></script>
</body>
</html>